h1::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  h1.text1::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: rgb(169, 231, 255);
    z-index: -1;
    transition: transform .3s ease;
  }

  h1.text2::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: rgb(189, 255, 169);
    z-index: -1;
    transition: transform .3s ease;
  }

  h1.text3::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: rgb(249, 255, 169);
    z-index: -1;
    transition: transform .3s ease;
  }

  h1.text4::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: rgb(255, 208, 169);
    z-index: -1;
    transition: transform .3s ease;
  }
  
  h1 {
    position: relative;
    font-size: 70px;
    color:rgb(24, 24, 24);
  }

  h2 {
    position: absolute;
    font-size: 30px;
    color:rgb(24, 24, 24);
  }
  
  html {
    block-size: 100%;
    inline-size: 100%;
  }
  
  body {
    min-block-size: 100%;
    min-inline-size: 100%;
    margin: none;
    box-sizing: border-box;
    display: grid;
    place-content: center;
    font-family: 'Raleway', sans-serif;
  }
  
  @media (orientation: landscape) {
    body {
      grid-auto-flow: column;
    }
  }

  @media screen and (min-width: 1120px) {

    h1 {
      position: relative;
      font-size: 93px;
      color:rgb(24, 24, 24);
    }
  }

  @media screen and (max-width: 850px) {

    h1 {
      position: relative;
      font-size: 50px;
      color:rgb(24, 24, 24);
    }

  }
  