* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Raleway', sans-serif;
  }
  
  .Nav {
    position: fixed;
    display: flex;
    height: 50px;
    padding: 40px;
    padding-top: 100px;
  }

  .botNav {
    position: relative;
    height: 20px;
    padding-top: 20px;
  }
  
  .leftSide {
    color: rgb(24, 24, 24);
    list-style: none;
    float: left;
  }

  .rightSide {
    color: rgb(24, 24, 24);
    list-style: none;
    text-align: center;
  }

  .Logo{
    position: fixed;
    margin-top: -30px;
    margin-left: 15px;
    width: 240px;
    height: 150px;
  }

  .mnItem {
    display: inline-block;
    margin: 30px 20px;
    font-size: 15px;
    vertical-align: top;
    color: rgb(24, 24, 24);
  }
  
  .menuItem {
    display: flex;
    margin: 30px 20px;
    font-size: 20px;
    vertical-align: top;
    color: rgb(24, 24, 24);
  }

  .menuItem1 {
    display: flex;
    margin: 30px 20px;
    font-size: 25px;
    vertical-align: top;
    background-color: rgb(169, 231, 255);
  }

  .menuItem2 {
    display: flex;
    margin: 30px 20px;
    font-size: 25px;
    vertical-align: top;
    background-color: rgb(189, 255, 169);
  }
  
  
  .main {
    clear: left;
    margin-top: 40px;
  }
  
  .mainImage {
    margin: 0 auto;
    width: 500px;
  }
  
  .mainSearch {
      display: flex;
      align-items: center;
      
  
  }
  
  .title {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    text-align: center;
    color: #0000ED;
    text-shadow: 0 0 3px #d6d6d6;
  }
  
  .searchBox {
    width: 600px;
    background-color: #f8f8f8;
    border: 2px solid #f8f8f8;
    box-shadow: 10px;
    border-radius: 10px;
    z-index: 3;
    height: 45px;
    margin: 0 auto;
  
    box-shadow: 1px 2px 3px #d6d6d6;
  }
  
  .searchBox1 {
    width: 300px;
    border: none;
    box-shadow: 10px;
    border-radius: 10px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
  }
  
  .searchBox2 {
    width: 200px;
    border: none;
    box-shadow: 10px;
    border-radius: 10px;
    z-index: 3;
    height: 80px;
    margin: 0 auto;
  }
  
  
  .textInput {
     background-color: #f8f8f8;
    border: 0;
    outline: 0;
    height: 40px;
    vertical-align: middle;
    width: calc(100% - 1px);
    height: calc(90%);
  }
  
  .subGroup {
    display: flex;  
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
  }
  
  .subGroup1 {
    display: flex;  
    width: 1030px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
  }
  
  .subGroup2 {
    display: flex;  
    width: 985px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
  }
  
  .buttonTitle{
      font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #0000ED;
    padding-bottom: 8px;
    flex-wrap: wrap;
    justify-content: space-between;
    text-shadow: 0 0 1px #d6d6d6;
    
  }
  
  .buttonTitle1{
      font-family: 'Work Sans', sans-serif;
    font-size: 60px;
    text-align: center;
    color: #0000ED;
    padding-bottom: 4px;
    flex-wrap: wrap;
    justify-content: space-between;
    text-shadow: 0 0 1px #d6d6d6;
  }
  
  .buttonTitle2{
      font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #0000ED;
    padding-bottom: 45px;
    flex-wrap: wrap;
    justify-content: space-between;
    text-shadow: 0 0 1px #d6d6d6;
    
  }
  
  .buttonTitle3{
      font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #0000ED;
    padding-bottom: 4px;
    flex-wrap: wrap;
    justify-content: space-between;
    text-shadow: 0 0 1px #d6d6d6;
  }
  
  .buttonTitle4{
      font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #0000ED;
    padding-bottom: 4px;
    flex-wrap: wrap;
    justify-content: space-between;
    text-shadow: 0 0 1px #d6d6d6;
  }
  
  .buttonText{
  color: #262626;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    padding-left: 25px;
    padding-top: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-shadow: 0 0 1px #d6d6d6;
    
  }
  
  .searchButton {
    background-image: -webkit-linear-gradient(top, #ffffff, #fafafa);
    background-color: white;
    border: 1px solid rgb(24, 24, 24);
    border-radius: 10px;
    margin: 4px 20px;
    margin-left: 300px;
    padding: 0 16px;
    height: 500px;
    min-width: 600px;
    text-align: center;
    cursor: pointer;
  }

  @media screen and (min-width: 1120px) {
    .searchButton {
        background-image: -webkit-linear-gradient(top, #ffffff, #fafafa);
        background-color: white;
        border: 1px solid rgb(24, 24, 24);
        border-radius: 10px;
        margin: 4px 20px;
        margin-left: 300px;
        padding: 0 16px;
        height: 500px;
        min-width: 800px;
        text-align: center;
        cursor: pointer;
      }
  }
  
  